@import '../../pages/Homepage.scss';

.about-us {
    @include flex-col();
    align-items: flex-start;
    text-align: left;
    padding-inline-start: 8%;
    margin-top: 80px;
    background: $light-gray;
    padding: 5% 8%;
    
    @include desktop {
        @include flex-row();
        padding: 2% 8% 3% 8%;
    }
    
    .about-us-logo {
        order: 1;
        width: 102px;
        margin: 5% 0;
        
        @include desktop {
            order: 2;
            align-self: center;
            margin-top: 0px;
            margin-left: 30%;
            width: 178px;
        }
    }

    .about-us-info {
        order: 2;
        @include flex-col();
        text-align: left;
        
        @include desktop {
            order: 1;
        }

        .about-us-text-wrapper {
            order: 3;
            margin-top: 5%;
            
            @include desktop {
                margin-top: auto;
            }
            
            .about-us-text {
                text-align: left;
                font-size: 20px;
                line-height: 30px;
                padding-right: 20px;
                
                @include desktop {
                    @include width-height(569px, auto);
                }
            }
        }
        
    
        .about-us-buttons-wrapper {
            order: 2;
            @include flex-col();
            
            @include desktop {
                order: 3;
                @include flex-row();
                width: 180px;
                gap: 16px;
            }
            
            .about-us-button {
                @include width-height(180px, 52px);
                background-color: transparent;
                border: none;
                padding: 0;
                margin-top: 5%;
            }
            
            .google-btn {
                order: 1;
                
                @include desktop {
                    order: 2;
                }
            }
            
            .app-btn {
                order: 2;

                @include desktop {
                    order: 1;
                }
            }
        }
    }
}
