@import '../../pages/Homepage.scss';

.about-us {
    @include flex-col();
    align-items: flex-start;
    margin-top: 80px;
    
    padding-left: 132px;
    height: 529px;
    background: #FAFAFA;
    
    .about-us-logo {
        margin-bottom: 30px;
    }
    
    .about-us-text-wrapper {
        @include flex-row();
        gap: 432px;
        
        .about-us-text {
            @include width-height(569px, auto);
            text-align: left;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 2.14px;
            align-items: center;
        }
    }
    
    .about-us-buttons-wrapper {
        @include flex-row();
        margin-top: 20px;
        width: 180px;
        
        .about-us-buttons {
            @include width-height(180px, 52px);
            background-color: transparent;
            border: none;
            margin-right: 16px;
            align-items: center;
            padding: 0;
        }
        
        .about-us-img {
            @include width-height(180px, auto);
        }
    }
}