@import '../../pages/Homepage.scss';

.cards-section-wrapper {
    @include flex-col();
    text-align: left;
    gap: 18px;
    
    @include tablet {
        text-align: center;
        gap: 25px;
    }

    .all-restaurants-btn {
        @include flex-row();
        @include font-w-s-h(400, 16px, 35px);
        gap: 10px;
        align-items: center;
        
        @include tablet {
            float: right;
            font-size: 24px;
        }
        
        .all-restaurants-btn-img {
            @include width-height(18px, 16px);
            
            @include tablet {
                @include width-height(24px, 18px);
            }
        }
    }
}    
