@import '../../pages/Homepage.scss';

.cards-main-title {
    margin-top: 48px;
    text-align: left;
    margin-inline-start: 16px;
    margin-bottom: 16px;
    
    @media screen and (min-width: 960px) {
        text-align: center;
        margin-top: 120px; 
    }
}

.restaurant-cards {
    .slick-dots {
        top: 400px;
    }
}

.all-restaurants-btn {
    background-color: transparent;
    border: none;
    float: left;
    margin-top: 16px;
    margin-inline-start: 16px;

    @include flex-row();
    gap: 8px;
    align-items: center;
    @include font-w-s-h(400, 16px, 35px);
    
    @media screen and (min-width: 960px) {
        float: right;
        margin-right: 125.5px;
        font-size: 24px;
    }
    
    .all-restaurants-btn-img {
        @include width-height(18px, 16px);
        
        @media screen and (min-width: 960px) {
            margin-left: 12px;
            @include width-height(24px, 18px);
        }
    }
}

.dish-cards {
    .slick-dots {
        top: 530px;
    }
}

