@import '../../pages/Homepage.scss';

.weekly-chef-wrapper {
    text-align: left;

    @include desktop {
        text-align: center;
    }
    
//     .weekly-chef-title {
//         @include desktop {
//             margin-inline-start: auto;
//         }
//     }
    
    .weekly-chef {
        @include flex-col();
        gap: 20px;
        padding: 10px 0;
        // justify-content: center;

        // width: 90%;
        // align-items: center;
        // justify-content: space-around;
        
        @include desktop {
            @include flex-row();
            gap: 64px;
            // padding: 40px 10px;
        }
            
        .weekly-chef-img {
            // @include desktop {
            //     padding-inline-start: 8%;
            // }
        }
        
        .weekly-chef-desc {
            text-align: justify;
            line-height: 35px;
            
            @include desktop {
                font-size: 24px;
            }
        }
    }
    
    .weekly-chef-restaurants {
        @include desktop {
            text-align: left;

            .weekly-chef-dish-cards {
            @include flex-row();
            align-items: flex-start;
            // width: 60%;
            }
        }
    }
}
