.hero-wrapper {
    display: flex;
    align-items: center;
    height: 693px;
    background-image: url('../../Assets/Hero/hero-picture.png');
    
    .hero-inside-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background: rgba(255, 255, 255, 0.88);
    
        width: 850px;
        height: 270px;
        
        .hero-text {
            width: 450px;
            height: 80px;
            margin-top: 50px;
        
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 1.97px;
            color: #000000;
        }
        
        input {
            width: 470px;
            height: 48px;
            margin-top: 18px;
            background-color: transparent;
            border: 0.5px solid rgb(0, 0, 0);
            border-radius: 4px;
            font-weight: 200;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 1.29px;
            padding-left: 60px;
            padding-right: 40px;
            
            &:focus {
                outline: 1px;
            }

            &::-webkit-input-placeholder {
                color: #000000;
            }

            &:focus::-webkit-input-placeholder {
                opacity: 20%;
            }
        }
        
        .search-img {
            position: relative;
            bottom: 43px;
            right: 260px;
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
        
        .erase-img {
            width: 14.83px;
            height: 14.83px;
            position: relative;
            bottom: 63.5px;
            left: 265px;
        }
    }
}



