@import '../../pages/Homepage.scss';

.hero-wrapper {
    display: flex;
    align-items: center;
    height: 273px;
    background-image: url('../../assets/Hero/hero-picture.png');
    background-size: cover;
    background-position: 80%;

    @media screen and (min-width: 960px) {
        height: 693px;
    }
    
    .hero-inside-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background: rgba(255, 255, 255, 0.88);
        
        width: 90%;
        height: 144px;
        
        @media screen and (min-width: 960px) {
            width: 55%;
            height: 270px;
        }
        
        .hero-text {
            width: 95%;
            height: 80px;
            margin-top: 15px;
            margin-bottom: 15px;

            @include font-w-s-h(200, 24px, 32px);
            
            letter-spacing: 1.97px;
            color: $black;
            
            @media screen and (min-width: 960px) {
                @include font-w-s-h(200, 32px, 40px);
                width: 450px;
                height: 80px;
                margin-top: 50px;
            }
        }
        
        .hero-input {
            width: 65%;
            height: 30px;
            
            font-size: 12px;
            padding-left: 40px;
            
            @media screen and (min-width: 960px) {
                width: 470px;
                margin-top: 18px;
    
                font-size: 24px;
                line-height: 29px;
                
                padding-left: 60px;
                padding-right: 40px;

                height: 48px;
            }
        }
        
        .search-img {
            position: relative;
            bottom: 23px;
            left: -40%;
            height: 20px;
            cursor: pointer;

            @media screen and (min-width: 960px) {
                position: relative;
                bottom: 42px;
                left: -258px;
                width: 32px;
                height: 32px;
            }
        }
        
        .erase-img {
            width: 14.83px;
            height: 14.83px;

            position: relative;
            bottom: 35px;
            left: 140px;
            
            @media screen and (min-width: 960px) {
                width: 14.83px;
                height: 14.83px;
                position: relative;
                bottom: 63.5px;
                left: 265px;
            }
        }
    }
}



