@import '../../pages/Homepage.scss';

.icons-meaning {
    @include flex-col();
    align-items: center;
    gap: 10px;
    height: 265px;
    background: #FAFAFA;
    margin-bottom: 80px;
    
    .icons-meaning-txt {
        font-size: 30px;
        letter-spacing: 2.14px;
    }
    
    .icons-dict {
        @include flex-row();
        gap: 65px;
        
        .icons-meaning-img {
            @include width-height(77.42px, 60px);
        }
    }
    
}