@import '../../pages/Homepage.scss';

.icons-meaning {
    @include flex-col();
    align-items: center;
    gap: 2px;
    height: 584px;
    background: #FAFAFA;
    margin-bottom: 90px;
    margin-top: 80px;
    @include desktop {
        height: 258px;
    }
    
    .icons-meaning-txt {
        height: auto;
        font-size: 18px;
        letter-spacing: 2.14px;
        margin-bottom: 25px;
        @include desktop {
            margin-bottom: 35px;
            font-size: 30px;
        }
    }
    
    .icons-dict {
        @include flex-col();
        gap: 60px;
        
        @include desktop {
            @include flex-row();
            gap: 65px;
        }
        .icons-meaning-img {
            @include width-height(56px, 56px);
            
            @include desktop {
                @include width-height(77.42px, 60px);
            }
        }
    }
    
}