.card-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 379px;
    padding-bottom: 15px;
    background-color: #F9F4EA;
}

.card-wrapper-small {
    width: 231px;
    height: 100%;
    background-color: #F9F4EA;
}

.card-wrapper-small img {
    width: 100%;
    height: 224px;
    background-color: #F9F4EA;
}

.restaurant-card-wrapper img {
    height: 236px;
    width: 379px;
}

.card-name {
    margin-top: 18px;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
}

.card-name-small {
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 2.67px;
}
.restaurant-chef {
    margin-top: 8px;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
}

.restaurant-rating-img img{
    margin-top: 8px;
    height: 40px;
    width: 40px;
}

.dish-ingredients {
    height: 176px;
    width: 295px;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.97px;
    margin-top: 8px;
}

.dish-0 {
    grid-column: 2 / 3;
}

.dish-1 {
    grid-column: 4 / 5;
}

.dish-2 {
    grid-column: 6 / 7;
}

.dish-0, .dish-1, .dish-2 {
    grid-row: 2 / 3;
    justify-self: stretch;
    background-color: #F9F4EA;

}

.feature-svg {
    margin-bottom: 5px;
    width: 35px;
    height: auto;
}

.feature-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5.5px;
}

.feature-price span {
    margin-right: 2.5px;
}

.shekel-logo {
    width: 14px;
    height: 19px;
    margin-top: 13px;
    margin-left: 2.5px;
}
