@import '../../pages/Homepage.scss';

.mobile-menu {
    padding: 30px 12px 24px 20px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    @include popup-window();

    .mobile-navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;

        .navbar-link {
            font-size: 18px;
        }

        .navbar-divider {
            width: 100%;
            left: -1px;
        }

        .footer-addition {
            margin-top: 16px;
        }
    }
}
