@import '../../pages/Homepage.scss';

.mobile-search {
    background-color: $white;
    height: 367px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 46px;
    z-index: 10;

    .mobile-header-input {
        height: 30px;
        width: 60%;
        margin-top: 24px;
        padding-left: 60px;
        font-size: 12px;
        border: 0.5px solid $black;
        border-radius: 4px;
    }

    .mobile-header-search-img {
        width: 20px;
        height: 20px;
        margin-top: -26px;
        align-self: flex-start;
        margin-left: 10%;
    }
}