@import '../../pages/Homepage.scss';

.shopping-cart {
    position: absolute;
    width: 497px;
    height: 586px;
    left: 943px;
    top: 64px;
    
    background: $white;
    box-shadow: 2px 4px 10px rgba(175, 175, 175, 0.25);   
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .shopping-cart-empty {
        padding: 0px;
        gap: 16px;
    
        position: absolute;
        width: 121px;
        height: 105px;
        left: 188px;
        top: 241px;
    
        opacity: 0.5;
        
        .shopping-cart-empty-img {
            width: 44.92px;
            height: 44.92px;
        }
        
        .shopping-cart-empty-txt {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 1.97px;
        }
    }
    
    
    .order-history-btn {
        background-color: transparent;
        width: 220px;
        height: 48px;
        top: 495px;
        border: 1px solid $black;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 2.67px;
        position: absolute;
        cursor: pointer;
    }
    
}
