.hero-wrapper {
    position: absolute;
    width: 1440px;
    height: 696px;
    left: 0px;
    top: 64px;
    background-image: url('../Assets/Hero/hero-picture.png');
}

.hero-inside-wrapper {
    /* justify-content: center; */
    /* padding: 36px 126px; */
    /* gap: 18px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
    margin: auto;
    background: rgba(255, 255, 255, 0.88);

    /* should change this? */
    width: 1028px;
    height: 293px;
    top: 210px; 
}

.hero-text {
    width: 450px;
    height: 80px;
    margin-top: 50px;

    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.97px;
    color: #000000;
    
    /* flex: none;
    order: 0;
    flex-grow: 0; */
    
    /* font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 200; */
}