@import '../scssModules/_variables.scss';
@import '../scssModules/_mixin.scss';

* {
    font-family: Helvetica Neue;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.25px;
    font-weight: 200;
    box-sizing: border-box;
    // overflow-x: hidden;
    
    @media screen and (min-width: 960px) {
        font-size: 30px;
        line-height: 35px;
        // overflow-x: visible;
    }
}

input {
    background-color: transparent;
    border: none;
    letter-spacing: 1.29px;
    height: 48px;

    font-size: 18px;
    line-height: 26px;
    
    padding-left: 15px;
    padding-right: 45px;

    &:focus {
        outline: 1px;
    }
    
    &::-webkit-input-placeholder {
        color: $black;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 20%;
    }
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

a {
    cursor: pointer;
}

.slick-track {
    @include flex-row();
    flex-wrap: nowrap;
    gap: 30px;

    .slick-slide {
        height: inherit !important;
        width: min-content;
        background-color: $cardBackground;
    }
}
