@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin width-height ($width, $height) {
    width: $width;
    height: $height;
}

@mixin font-w-s-h($weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}